// HOME PAGE

section {
  @extend .full-width;
  // padding-top: 20px 5% 0;
  margin-bottom: 20px;

  h3 {
    font-size: 1.5em;
    font-weight: 300;
  }

  @include mobile-landscape-and-up {
    h3 {
      font-size: 2em;
    }
  }
}

.contact-info {
  margin: 0 0 20px;

  li {
    display: inline-block;
    padding-right: 5px;

    & + li a {
      padding-left: 7px;
      border-left: 1px solid $text;
    }
    a {
      line-height: 1;
    }
  }
}