// BASE STYLES

*, *:before {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  margin: 0;// 0 30px;
}

#main {
  width: 90%;
  max-width: $max-width;
  min-height: 100%;
  padding-bottom: 40px;
  margin: 0 auto;
}