// GRID STYLES

// Grid
$width: 100%;
$max-width: 960px;
$columns: 12;
$col-margin-left: 2%;
$col-margin-right: 2%;
$col-margin: $col-margin-left + $col-margin-right;

// Math
$col-width: ($width - ($col-margin * ($columns))) / $columns;
$col-total-width: $col-width + $col-margin;

@mixin row() {
  float: left;
  clear: both;
  width: $width;
}

@mixin col($n: 1) {
  @include span($n);
  float: left;
  display: inline;
}

@mixin span($n: 1) {
  width: ($n * $col-width) + (($n - 1) * $col-margin);
  @if $n == $columns {
    margin-right: 0;
  }

  @else {
    margin-left: $col-margin-left;
    margin-right: $col-margin-right;
  }
}

.container {
  position: relative;
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  @include row;
}

@mixin first() {
  margin-left: 0;
}

@mixin last() {
  margin-right: 0;
}

.firstcol {
  margin-left: 0 !important;
}

.lastcol {
  margin-right: 0 !important;
}

.col1 { @include col(1); }
.col2 { @include col(2); }
.col3 { @include col(3); }
.col4 { @include col(4); }
.col5 { @include col(5); }
.col6 { @include col(6); }
.col7 { @include col(7); }
.col8 { @include col(8); }
.col9 { @include col(9); }
.col10 { @include col(10); }
.col11 { @include col(11); }
.col12 { @include col(12); }

// Clearing
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.row:after, .clearfix:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}