// VARIABLES

$brand-dark: royalblue;
$brand-light: cornflowerblue;
$lightest: #FFFFFF;

$text: #404040;
$link: $brand-light;
$link-hover: $brand-dark;

$font-stack: 'Montserrat', Helvetica, Arial, sans-serif;
$width: 100%;
$max-width: 800px;
