// FONTS STYLES

@font-face {
  font-family: 'Atzl';
  src: url('../fonts/atzl.eot');
  src: url('../fonts/atzl.eot?#iefix') format('embedded-opentype'),
       url('../fonts/atzl.woff') format('woff'),
       url('../fonts/atzl.ttf')  format('truetype'),
       url('../fonts/atzl.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}