// HELPER CLASSES

.full-width { width: 100%; }
.half-width { width: 50%; }
.quarter-width { width: 25%; }
.third-width { width: 33%; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.underline { text-decoration: underline; }

.float-right { float: right; }
.float-left { float: left; }