// TYPOGRAPHY

h1 {
  font-weight: normal;
  color: $text;
  font-size: 3em;
  margin: 50px auto 0;

  span {
    display: inline-block;
    position: relative;
  }
}

p, a, ul, li {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.35;
  color: $text;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    animation: colorShift 6s ease-in both infinite;
  }
}

b, strong {
  font-weight: 500;
}

.brand-lighter {
  font-weight: 300;
  animation: slideInLeft 2s ease-out 0s forwards;
}

.brand-bolder {
  font-weight: 700;
  right: -100%;
  animation: slideInRight 1s ease-out 1s both;
}
